*.class
*.zip

# Package Files #
*.jar
*.war
*.ear

# Log Files #
/stacktrace.log
/test/reports
/logs

# Folders #
/target

# IDE #
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse