*.class
*.zip
*.classpath
*.project

# Package Files #
*.jar
*.war
*.ear

# Log Files #
/stacktrace.log
/test/reports
/logs

# Folders #
/target
/target-eclipse

# IDE #
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse